table, td {
    border-collapse: collapse;
}
img {
    width: 50%;
    height: 50%;
}

.id {
    width: 5%;
}

.nombre {
    width: 70%;
}


.clasicicacion {
    width: 10%;
}
body{
    background-color: #212738;
    font-family: sans-serif;
    color: white;
}