body{
    background-color: #212738;
    color: white;
    font-family: sans-serif;
    text-align: center;
}
.portada{
    width: 450px;
    height: 700px;
    border: 1px solid orange;
}
.center{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.circle{
    padding: 10px;
    border: 1px solid white;
    border-radius: 25px;
}

.actor{
    width: 150px;
    height: 150px;
    border: 1px solid orange;
    border-radius: 100%;
}