body{
    color: white;
    font-family: sans-serif;
    background-color: #212738;
}
.registro{
    margin: auto;
    margin-top: 150px;
    background-color: #aa72e1;
    width: 227px;
    border-radius: 25px;
    height: 220px;
}

.inicio{
    margin: auto;
    margin-top: 150px;
    background-color: #aa72e1;
    width: 227px;
    border-radius: 25px;
    height: 160px;
}

input{
    border-radius: 25px;
    width: 100%;
    margin-left: 3px;
    margin-top: 8px;
}